version: "3.8"

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=ventriloquistic-holden-acapnial.ngrok-free.dev
      - N8N_PROTOCOL=https
      - WEBHOOK_URL=https://ventriloquistic-holden-acapnial.ngrok-free.dev/
      - N8N_PORT=5678
      - TZ=Asia/Jakarta
    volumes:
      - ./n8n:/home/node/.n8n
